header {
  background-color: rgb(247, 104, 104);
  padding: 0;
  border-bottom: 8px solid rgba(241, 223, 218, 0.377);
  display: flex;
  justify-content: space-between;
}
.name {
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}
header div {
  padding-top: 40px;
}

.homepage {
  padding: 2%;
  text-align: center;
}
.homepage img {
  width: 200px;
  height: 300px;
}
