.nav li {
  display: inline;
  margin-right: 15px;
  padding: 5px;
  font-size: 18px;
  border: 2px dashed rgb(238, 201, 201);
  border-radius: 10px;
  text-decoration: none;
}

.nav li:hover {
  border: 2px dashed darkred;
}

.active {
  border: 2px dotted darkred;
}

.not-active {
  border: 2px dashed rgb(238, 201, 201);
}
