.nav {
  margin-top: 10%;
}
.nav li {
  display: inline;
  margin-right: 15px;
  padding: 5px;
  font-size: 18px;
  border: 2px dashed rgb(238, 201, 201);
  border-radius: 10px;
  text-decoration: none;
}

.nav li:hover {
  border: 2px dashed darkred;
}

.active {
  border: 2px dotted darkred;
}

.not-active {
  border: 2px dashed rgb(238, 201, 201);
}

@media screen and (max-width: 992px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav {
    margin-top: 30px;
    padding-left: 20px;
    width: 100%;
    text-align: center;
  }
  .nav li {
    margin: 2%;
  }
}
