.profile {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project {
  border: 1px dashed coral;
  width: 700px;
  margin: 2%;
}
.project img {
  object-fit: contain;
  width: 100%;
  height: 300px;
}

.project:hover {
  border: 2px dotted darkred;
}

.project a {
  font-weight: bold;
}

.project a:visited {
  color: coral;
}

.project a:hover {
  color: rgb(243, 95, 41);
}
