header {
  background-color: rgb(247, 104, 104);
  padding: 0;
  border-bottom: 8px solid rgba(241, 223, 218, 0.377);
  display: flex;
  justify-content: space-between;
}
.name {
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  display: block;
}

.homepage {
  padding: 2%;
  text-align: center;
  position: relative;
}
.homepage img {
  width: 200px;
  height: 300px;
}

.contact-form {
  padding-top: 5%;
  text-align: center;
  position: relative;
  padding-bottom: 7%;
}

.contact-form input {
  width: 300px;
}
.contact-form textarea {
  width: 300px;
}
.contact-form p {
  font-weight: bold;
  margin: 10px;
  color: coral;
}

.contact-form textarea {
  margin-bottom: 2%;
}
.contact-form button {
  padding: 1%;
  border-radius: 10px;
  background-color: white;
  border: 2px dashed coral;
}
.contact-form button:hover {
  border: 3px dashed coral;
}

.resume {
  text-align: center;
  position: relative;
}

.resume ul {
  list-style: none;
  padding: 0;
}
